#
# Note that two different ALSA card state management schemes exist and they
# can be switched using a file exist check - /etc/alsa/state-daemon.conf .
#

[Unit]
Description=Save/Restore Sound Card State
ConditionPathExists=!/etc/alsa/state-daemon.conf
ConditionPathExistsGlob=/dev/snd/control*

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=-/home/koda.xu/github_prj/alsa-lib/output/6.4.0/alsa/sbin/alsactl restore
ExecStop=-/home/koda.xu/github_prj/alsa-lib/output/6.4.0/alsa/sbin/alsactl store
